<ion-content color="primary" class="page-content">
    <ion-row>
      <ion-col col-12>
        <div class="thanks">
          <h2>Gracias!</h2>
          <p>Gracias por confiar en nosotros adquiriendo nuestros servicios, estamos comprometidos con nuestros clientes para la mejora continua, bienvenido a la comunidad y éxito en tus ventas!</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button color="success" fill="solid" shape="round">
            Regresar a inicio
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>