  <ion-content color="primary" class="page-content">
    <ion-row>
      <ion-col col-12>
        <div class="thanks">
          <h2>Gracias !</h2>
          <p>Amamos a nuestros clientes y valoramos su negocio. Queremos agradecerle por darnos la oportunidad de servirle. Nuestro servicio al cliente siempre está abierto para escuchar sus comentarios. ¡Gracias!
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button color="success" (click)="goHome()" fill="solid" shape="round">
            Comprar Más
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>