<ion-content>
    <div class="login">
        <ion-row>
            <img class="img" src="/assets/img/g+.png">
            <br>
        </ion-row>
        <ion-row>
            <!-- <input type="file" name="file" id="file" class="inputfile">
            <label for="file" class="upload">
                <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            </label> -->
        </ion-row>
        <br>
        <p class="name">Espaguetti</p>
    </div>

    <ion-grid fixed class="border-bottom bg-white">
        <ion-row class="ion-no-padding">
            <ion-col size="6">
            <div class="ion-text-center">
                <span class="text-statics-big text-primary">$122</span> <br>
                <small>Precio</small>
            </div>
            </ion-col>
            <ion-col size="6">
            <div class="ion-text-center">
                <span class="text-statics-big text-primary">15</span> <br>
                <small>Disponibles</small>
            </div>
            </ion-col>
        </ion-row>
    </ion-grid>

        <div class="vertical-padding">
            <p class="ion-text-center text-profile">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus veritatis ut distinctio
            </p>
        </div>

        <ion-list lines="none" inset="true">
            <ion-list-header>
                <ion-label>Información Adicional</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-icon name="calendar" mode="ios" slot="start"></ion-icon>
                <ion-label>12/12/12</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="time" mode="ios" slot="start"></ion-icon>
                <ion-label>04:08</ion-label>
            </ion-item>
        </ion-list>
  
  
        <button class="login-btn" (click)="goToHome()" ion-button>Comprar</button>

</ion-content>