<ion-menu persistent="true" class="menu" side="start" 
          menuId="first"
          contentId="main">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="sidebar-menu">

        <ion-row class="img-name-row">
            <ion-col>
              <img class="user-img" src="/assets/img/profile.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="user-name"> {{user.username}} </p>
            </ion-col>
          </ion-row>
       
          <ion-item button routerLink="/" button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="home"></ion-icon>
              Inicio
          </ion-item>
          <div *ngIf="user.member" >
              <ion-item button routerLink="/sell" lines="none" class="menu-item">
                <ion-icon slot="start" color="royal" name="pricetag"></ion-icon>
                  Vender
              </ion-item>
              <ion-item button routerLink="/my-sales" button lines="none" class="menu-item">
                <ion-icon slot="start" color="royal" name="wallet"></ion-icon>
                  Mis Ventas 
              </ion-item>
          </div>
          <div *ngIf="!user.member" >
              <ion-item button routerLink="/membership" button lines="none" class="menu-item">
                <ion-icon slot="start" color="royal" name="card"></ion-icon>
                  Adquirir Membresía 
              </ion-item>
          </div>
          
          <ion-item (click)="logOut()" button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="log-out"></ion-icon>
             Cerrar Sesión
          </ion-item>


    </ion-content>
  </ion-menu>
