<ion-menu persistent="true" class="menu" side="start" 
          menuId="first"
          contentId="main">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="sidebar-menu">

        <ion-row class="img-name-row">
            <ion-col>
              <img class="user-img" src="/assets/img/profile.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="user-name">Usuario</p>
            </ion-col>
          </ion-row>
       
          <ion-item button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="home"></ion-icon>
              Menu Item
          </ion-item>
          <ion-item button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="apps"></ion-icon>
              Menu Item
          </ion-item>
          <ion-item button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="list"></ion-icon>
              Menu Item
          </ion-item>
          <ion-item button lines="none" class="menu-item">
            <ion-icon slot="start" color="royal" name="add"></ion-icon>
              Menu Item
          </ion-item>


    </ion-content>
  </ion-menu>
