<ion-header no-border color="primary">
    <ion-toolbar class="toolbar-background" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Adquiere tu membresía</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content color="ion-color-primary-contrast" class="ion-padding">
    <ion-text class="ion-color-dark" color="royal">
        <div class="principal-text ion-text-center">
            <h2 class="ion-text-center">Estás a un paso de ser parte del equipo, selecciona el tipo de Membresía que deseas adquirir:</h2>
        </div>
    </ion-text>

    <ion-card class="color">
    <ion-card-header class="overlay_top">
        <ion-card-title color="royal" >
            <div class="centro">
                <ion-icon slot="icon-only" name="card">
                </ion-icon>
                1 Mes
            </div>
        </ion-card-title>
    </ion-card-header>

    <ion-card-content class="overlay_content">
      <ion-row class="details" class="ion-text-center">
        <ion-col col-6>
            <ion-text color="royal">
                <p class="subline">Precio:</p>
            </ion-text>
            <ion-text color="primary">
                <h1 class="persons">$150</h1>
            </ion-text>
        </ion-col>
        <ion-col col-6>
            <ion-text color="royal">
                <p class="subline">Adéntrate en nuestro servicio con este corto periodo y convéncete de que somos una sólida opción. </p>
            </ion-text>
    </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-content class="color" >
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="3" size="6">
              <div class="status">
                  <ion-text color="light">
                      <ion-button (click)="goToSelectPay()" class="centrar" color="primary">
                       Adquirir
                      </ion-button>
                      <!-- <h3 color="primary"> Estado:</h3> -->
                  </ion-text>
                  <!-- <ion-icon padding-left ios="ios-heart" name="heart" class="icon" ></ion-icon>  -->
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content >
  </ion-card>
  

      <ion-card class="color">
      <ion-card-header class="overlay_top">
          <ion-card-title color="royal" >
              <div class="centro">
                  <ion-icon slot="icon-only" name="card">
                  </ion-icon>
                  6 meses
              </div>
          </ion-card-title>
      </ion-card-header>
  
      <ion-card-content class="overlay_content">
        <ion-row class="details" class="ion-text-center">
          <ion-col col-6>
              <ion-text color="royal">
                  <p class="subline">Precio:</p>
              </ion-text>
              <ion-text color="primary">
                  <h1 class="persons">$800</h1>
              </ion-text>
          </ion-col>
          <ion-col col-6>
              <ion-text color="royal">
                  <p class="subline">Para las personas comprometidas y enfocadas, o simplemente los que ya trabajaron con nosotros. </p>
              </ion-text>
      </ion-col>
        </ion-row>
      </ion-card-content>
  
      <ion-card-content class="color" >
        <ion-grid fixed>
          <ion-row>
            <ion-col offset="3" size="6">
                <div class="status">
                    <ion-text color="light">
                        <ion-button (click)="goToSelectPay()" class="centrar" color="primary">
                         Adquirir
                        </ion-button>
                        <!-- <h3 color="primary"> Estado:</h3> -->
                    </ion-text>
                    <!-- <ion-icon padding-left ios="ios-heart" name="heart" class="icon" ></ion-icon>  -->
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content >
    </ion-card>

    <ion-card class="color">
        <ion-card-header class="overlay_top">
            <ion-card-title color="royal" >
                <div class="centro">
                    <ion-icon slot="icon-only" name="card">
                    </ion-icon>
                    1 año
                </div>
            </ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="overlay_content">
          <ion-row class="details" class="ion-text-center">
            <ion-col col-6>
                <ion-text color="royal">
                    <p class="subline">Precio:</p>
                </ion-text>
                <ion-text color="primary">
                    <h1 class="persons">$1400</h1>
                </ion-text>
            </ion-col>
            <ion-col col-6>
                <ion-text color="royal">
                    <p class="subline">El nivel más alto de nuestras membresías, para clientes que ya han probado nuestro servicio o para gente en busca del éxito.</p>
                </ion-text>
        </ion-col>
          </ion-row>
        </ion-card-content>
    
        <ion-card-content class="color" >
          <ion-grid fixed>
            <ion-row>
              <ion-col offset="3" size="6">
                  <div class="status">
                      <ion-text color="light">
                          <ion-button (click)="goToSelectPay()" class="centrar" color="primary">
                           Adquirir
                          </ion-button>
                          <!-- <h3 color="primary"> Estado:</h3> -->
                      </ion-text>
                      <!-- <ion-icon padding-left ios="ios-heart" name="heart" class="icon" ></ion-icon>  -->
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content >
      </ion-card>
</ion-content>
